Repository dorsett85/bill-split: changes, and which CircleCI parameters are due for each by the changed paths.
All: bill_processor_is_changed, gateway_is_changed

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            projects/bill-processor/.* bill_processor_is_changed true
            projects/gateway/.* gateway_is_changed true

fix local dev env var in bill-processor
  docker-compose.yml
  projects/bill-processor/src/index.ts
Due: bill_processor_is_changed

remove bill_participant pivot table
  projects/db/migrations/00002_create_participant_table.sql
  projects/db/migrations/00003_create_bill_participant_table.sql
  projects/db/migrations/00003_create_line_item_table.sql
  projects/db/migrations/00004_create_participant_line_item_table.sql
  projects/db/migrations/00005_add_discount_column_to_bill_table.sql
  projects/db/migrations/00006_create_access_token_table.sql
  projects/gateway/src/server/controllers/apiControllers.ts
  projects/gateway/src/server/controllers/controllerServices.ts
  projects/gateway/src/server/dao/BillDao.ts
  projects/gateway/src/server/dao/BillParticipantDao.ts
  projects/gateway/src/server/dao/ParticipantDao.ts
  projects/gateway/src/server/dto/billParticipant.ts
  projects/gateway/src/server/dto/participant.ts
  projects/gateway/src/server/services/ParticipantService.ts
Due: gateway_is_changed

Add not null to db columns and scoped query
  projects/db/migrations/00002_create_participant_table.sql
  projects/db/migrations/00003_create_line_item_table.sql
  projects/db/migrations/00004_create_participant_line_item_table.sql
  projects/gateway/src/server/controllers/apiControllers.ts
  projects/gateway/src/server/dto/participant.ts
  projects/gateway/src/server/services/ParticipantService.ts
Due: gateway_is_changed

add bill auth middleware
  projects/gateway/src/server/controllers/apiControllers.ts
  projects/gateway/src/server/controllers/controllerServices.ts
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/BillService.ts
  projects/gateway/src/server/services/KafkaConsumerService.ts
  projects/gateway/src/server/services/ParticipantService.ts
  projects/gateway/src/server/types/serverRequest.ts
  projects/gateway/src/server/utils/withBillAuthMiddleware.ts
Due: gateway_is_changed

update readme
  README.md
Due: none

fix url param
  projects/gateway/src/server/server.ts
Due: gateway_is_changed

fix url param again
  projects/gateway/src/server/controllers/apiControllers.ts
Due: gateway_is_changed

optimize line item selection
  README.md
  projects/gateway/src/server/dao/ParticipantLineItemDao.ts
  projects/gateway/src/server/services/ParticipantService.ts
Due: gateway_is_changed

add db integration tests
  .circleci/config.yml
  .circleci/continue_config.yml
  README.md
  pnpm-workspace.yaml
  projects/gateway/package.json
  projects/gateway/pnpm-lock.yaml
  projects/gateway/src/server/dao/AccessTokenDao.test.ts
  projects/gateway/src/server/dao/AccessTokenDao.ts
  projects/gateway/src/server/dao/BillDao.test.ts
  projects/gateway/src/server/dao/BillDao.ts
  projects/gateway/src/server/dao/LineItemDao.test.ts
  projects/gateway/src/server/dao/LineItemDao.ts
  projects/gateway/src/server/dao/ParticipantDao.test.ts
  projects/gateway/src/server/dao/ParticipantDao.ts
  projects/gateway/src/server/dao/ParticipantLineItemDao.test.ts
  projects/gateway/src/server/dao/ParticipantLineItemDao.ts
  projects/gateway/src/server/dto/accessToken.ts
  projects/gateway/src/server/dto/bill.ts
  projects/gateway/src/server/dto/lineItem.ts
  projects/gateway/src/server/dto/participant.ts
  projects/gateway/src/server/dto/participantLineItem.ts
  projects/gateway/src/server/prod-server.ts
  projects/gateway/src/server/services/AdminService.ts
  projects/gateway/src/server/services/BillService.ts
  projects/gateway/src/server/services/ParticipantService.ts
  projects/gateway/src/server/types/baseDao.ts
  projects/gateway/test/fixtures/accessTokenFixture.ts
  projects/gateway/test/fixtures/billFixture.ts
  projects/gateway/test/fixtures/lineItemFixture.ts
  projects/gateway/test/fixtures/participantFixture.ts
  projects/gateway/test/fixtures/participantLineItemFixture.ts
  projects/gateway/test/vitest-db-global-setup.ts
  projects/gateway/test/vitest-db-suite-setup.ts
  projects/gateway/test/vitest.config.mts
Due: gateway_is_changed

fix linter
  projects/gateway/test/vitest.config.mts
Due: gateway_is_changed

add ci workflow
  .circleci/continue_config.yml
Due: none

testing CI
  projects/gateway/src/server/dao/AccessTokenDao.ts
Due: gateway_is_changed

testing CI 2
  projects/gateway/src/server/dao/AccessTokenDao.ts
  projects/gateway/test/vitest.config.mts
Due: gateway_is_changed

testing CI 4
  .circleci/continue_config.yml
  projects/gateway/src/server/dao/AccessTokenDao.ts
  projects/gateway/test/vitest.config.mts
Due: gateway_is_changed

testing CI 4
  .circleci/continue_config.yml
  projects/gateway/src/server/dao/AccessTokenDao.test.ts
  projects/gateway/src/server/dao/AccessTokenDao.ts
  projects/gateway/test/vitest.config.mts
Due: gateway_is_changed

testing CI 5
  .circleci/continue_config.yml
  projects/gateway/src/server/dao/AccessTokenDao.test.ts
  projects/gateway/test/vitest.config.mts
Due: gateway_is_changed

testing CI
  .circleci/continue_config.yml
  projects/gateway/src/server/dao/AccessTokenDao.test.ts
Due: gateway_is_changed

testing CI
  .circleci/continue_config.yml
  projects/gateway/src/server/dao/AccessTokenDao.test.ts
  projects/gateway/test/vitest.config.mts
Due: gateway_is_changed

fixed ci db-integration workflow
  .circleci/continue_config.yml
  projects/gateway/src/server/dao/AccessTokenDao.test.ts
Due: gateway_is_changed

consolidate ci commands
  .circleci/continue_config.yml
Due: none

one more ci test
  projects/gateway/src/server/dao/AccessTokenDao.test.ts
Due: gateway_is_changed

upgrade path filtering orb
  .circleci/config.yml
  projects/gateway/src/server/dao/AccessTokenDao.test.ts
Due: gateway_is_changed

upgrade package
  .gitignore
  pnpm-lock.yaml
  projects/bill-processor/package.json
  projects/gateway/package.json
Due: bill_processor_is_changed, gateway_is_changed

remove pnpm workspace
  pnpm-lock.yaml
  pnpm-workspace.yaml
  projects/bill-processor/pnpm-lock.yaml
  projects/gateway/pnpm-lock.yaml
  projects/gateway/test/vitest-db-global-setup.ts
Due: bill_processor_is_changed, gateway_is_changed

fix test db folder
  projects/gateway/test/vitest-db-global-setup.ts
Due: gateway_is_changed

fix test setup
  projects/gateway/test/vitest-db-global-setup.ts
Due: gateway_is_changed

consolidate ci workflows into jobs
  .circleci/continue_config.yml
Due: none

fix ci config syntax
  .circleci/continue_config.yml
Due: none

test ci syntax
  .circleci/continue_config.yml
Due: none

test ci syntax
  .circleci/continue_config.yml
  projects/gateway/test/vitest.config.mts
Due: gateway_is_changed
