Repository dorsett85/bill-split: changes, and which CircleCI parameters are due for each by the changed paths.
All: bill_processor_is_changed, bill_consumer_is_changed, gateway_is_changed, db_is_changed, kafka_is_changed, dao_is_changed

test ci syntax
  .circleci/continue_config.yml
Due: none

fix ci syntax
  .circleci/continue_config.yml
Due: none

test ci runs
  .circleci/continue_config.yml
Due: none

test ci runs
  .circleci/config.yml
Due: none

revert to workflow ci setup
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

test ci
  projects/gateway/src/server/dao/AccessTokenDao.test.ts
Due: gateway_is_changed, dao_is_changed

revert ci test
  projects/gateway/src/server/dao/AccessTokenDao.test.ts
Due: gateway_is_changed, dao_is_changed

fix name change and update homepage copy
  projects/gateway/src/client/api/api.ts
  projects/gateway/src/client/api/dto.ts
  projects/gateway/src/client/components/BillParticipantEditName.tsx
  projects/gateway/src/client/components/BillParticipantInput.tsx
  projects/gateway/src/client/pages/Home.test.tsx
  projects/gateway/src/client/pages/Home.tsx
  projects/gateway/src/server/controllers/apiControllers.ts
  projects/gateway/src/server/services/ParticipantService.ts
Due: gateway_is_changed

fix uploading/error state
  projects/gateway/src/client/pages/Home.tsx
Due: gateway_is_changed

add notifications to admin page
  projects/gateway/package.json
  projects/gateway/pnpm-lock.yaml
  projects/gateway/src/client/api/api.ts
  projects/gateway/src/client/components/BasePage/BasePage.tsx
  projects/gateway/src/client/pages/Home.tsx
  projects/gateway/src/client/pages/admin/Admin.tsx
  projects/gateway/src/client/utils/hydrateRootElement.tsx
  projects/gateway/src/client/utils/notifications.ts
  projects/gateway/src/server/controllers/apiControllers.ts
  projects/gateway/src/server/controllers/htmlControllers.ts
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/AdminService.ts
  projects/gateway/src/server/services/BillService.ts
  projects/gateway/src/server/utils/withAdminAuthMiddleware.ts
  projects/gateway/src/server/utils/withBillAuthMiddleware.ts
Due: gateway_is_changed

add notifications to home page
  README.md
  projects/gateway/src/client/api/api.ts
  projects/gateway/src/client/components/VerifyAccessModal.tsx
  projects/gateway/src/client/pages/Home.tsx
  projects/gateway/src/server/server.ts
Due: gateway_is_changed

add notifications to bill page
  README.md
  projects/gateway/src/client/components/BillParticipantInput.tsx
  projects/gateway/src/client/components/BillParticipantSection.tsx
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
Due: gateway_is_changed

switch to accordion in participant section
  projects/gateway/src/client/components/BillParticipantEdit.tsx
  projects/gateway/src/client/components/BillParticipantEditName.tsx
  projects/gateway/src/client/components/BillParticipantInput.tsx
  projects/gateway/src/client/components/BillParticipantSection.tsx
  projects/gateway/src/server/controllers/htmlControllers.ts
Due: gateway_is_changed

Add number of payees input
  projects/gateway/src/client/components/BillParticipantEdit.tsx
  projects/gateway/src/client/components/BillParticipantSection.tsx
  projects/gateway/src/client/components/BillStatusNotification.tsx
  projects/gateway/src/client/pages/Home.tsx
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
  projects/gateway/src/server/dao/BillDao.ts
  projects/gateway/src/server/services/BillService.ts
  projects/gateway/src/server/services/S3FileStorageService.ts
  projects/gateway/src/server/types/fileStorageService.ts
Due: gateway_is_changed, dao_is_changed

Update participant item card
  projects/gateway/src/client/components/BillInfoItemUnclaimed.module.css
  projects/gateway/src/client/components/BillInfoItemUnclaimed.tsx
  projects/gateway/src/client/components/BillParticipantCheckBoxCard.module.css
  projects/gateway/src/client/components/BillParticipantCheckBoxCard.tsx
  projects/gateway/src/client/components/BillParticipantEdit.tsx
  projects/gateway/src/client/components/BillParticipantItemCard.tsx
  projects/gateway/src/client/components/BillParticipantOwes.tsx
  projects/gateway/src/client/components/BillParticipantSection.tsx
Due: gateway_is_changed

Added share of item display
  projects/gateway/src/client/components/BillInfoItemUnclaimed.tsx
  projects/gateway/src/client/components/BillParticipantItemCard.tsx
  projects/gateway/src/client/components/BillParticipantSection.tsx
  projects/gateway/src/client/pages/bills/[id]/dto.ts
  projects/gateway/src/client/utils/UsCurrency.ts
  projects/gateway/src/server/dao/BillDao.test.ts
  projects/gateway/src/server/dao/BillDao.ts
  projects/gateway/src/server/dto/bill.ts
Due: gateway_is_changed, dao_is_changed

Added adjust share functionality
  README.md
  projects/gateway/src/client/api/api.ts
  projects/gateway/src/client/components/BillItemModal.tsx
  projects/gateway/src/client/components/BillParticipantItemCard.tsx
  projects/gateway/src/client/components/BillParticipantSection.tsx
  projects/gateway/src/client/pages/bills/[id]/dto.ts
  projects/gateway/src/server/App.ts
  projects/gateway/src/server/controllers/apiControllers.ts
  projects/gateway/src/server/dao/ParticipantLineItemDao.ts
  projects/gateway/src/server/dto/participantLineItem.ts
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/ParticipantService.ts
  projects/gateway/src/server/types/baseDao.ts
Due: gateway_is_changed, dao_is_changed

Change edit participant popover to modal
  README.md
  projects/gateway/src/client/components/BillItemModal.tsx
  projects/gateway/src/client/components/BillParticipantEdit.tsx
  projects/gateway/src/client/components/BillParticipantModal.tsx
  projects/gateway/src/client/components/BillParticipantSection.tsx
  projects/gateway/src/server/services/BillService.ts
Due: gateway_is_changed

Add other participants taken text
  projects/gateway/src/client/components/BillParticipantItemCard.tsx
  projects/gateway/src/client/components/BillParticipantSection.tsx
Due: gateway_is_changed

Add sticky participant control section
  projects/gateway/src/client/components/BillParticipantSection.tsx
Due: gateway_is_changed

Remove number of payers input
  README.md
  projects/gateway/src/client/components/BillParticipantInput.tsx
  projects/gateway/src/client/pages/Home.tsx
  projects/gateway/src/server/controllers/controllerServices.ts
  projects/gateway/src/server/services/BillService.ts
Due: gateway_is_changed

update readme
  README.md
Due: none

Add line item view
  README.md
  projects/gateway/src/client/api/api.ts
  projects/gateway/src/client/components/BasePage/BasePage.tsx
  projects/gateway/src/client/components/BillLineItemParticipantCard.tsx
  projects/gateway/src/client/components/BillLineItemSection.tsx
  projects/gateway/src/client/components/BillParticipantItemCard.tsx
  projects/gateway/src/client/components/BillParticipantSection.tsx
  projects/gateway/src/client/components/BillStatusNotification.tsx
  projects/gateway/src/client/components/BillViewSelect.tsx
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
  projects/gateway/src/client/pages/bills/[id]/dto.ts
  projects/gateway/src/server/controllers/apiControllers.ts
  projects/gateway/src/server/dao/ParticipantLineItemDao.ts
  projects/gateway/src/server/dto/participantLineItem.ts
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/ParticipantService.ts
Due: gateway_is_changed, dao_is_changed

Add split item evenly amongst everyone
  projects/gateway/src/client/components/BillItemModal.tsx
  projects/gateway/src/client/components/BillLineItemSection.tsx
  projects/gateway/src/server/controllers/apiControllers.ts
  projects/gateway/src/server/dao/ParticipantLineItemDao.ts
  projects/gateway/src/server/dto/participantLineItem.ts
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/ParticipantService.ts
  projects/gateway/src/server/types/baseDao.ts
Due: gateway_is_changed, dao_is_changed

Path conditions:
  bill_processor_is_changed: any of: projects/bill-processor/.*
  bill_consumer_is_changed: any of: projects/bill-consumer/.*
  gateway_is_changed: any of: projects/gateway/.*
  db_is_changed: any of: projects/db/.*
  kafka_is_changed: any of: projects/kafka/.*
  dao_is_changed: any of: projects/gateway/src/server/dao/.*
