Repository dorsett85/bill-split: changes, and which CircleCI parameters are due for each by the changed paths.
All: bill_processor_is_changed, gateway_is_changed

update bill info items
  projects/gateway/src/client/components/BillInfoItem.tsx
  projects/gateway/src/client/components/BillParticipantSection.tsx
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
Due: gateway_is_changed

add popover to unclaimed items count
  README.md
  projects/gateway/src/client/components/BillInfoItemUnclaimed.module.css
  projects/gateway/src/client/components/BillInfoItemUnclaimed.tsx
  projects/gateway/src/client/components/BillParticipantOwes.tsx
  projects/gateway/src/client/components/BillParticipantSection.tsx
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
  projects/gateway/src/client/pages/bills/[id]/utils.ts
Due: gateway_is_changed

add patch participant endpoint
  projects/gateway/src/client/utils/api.ts
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/dao/ParticipantDao.ts
  projects/gateway/src/server/dto/participant.ts
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/ParticipantService.ts
Due: gateway_is_changed

add edit name functionality
  README.md
  projects/gateway/src/client/components/BillInfoItemUnclaimed.tsx
  projects/gateway/src/client/components/BillParticipantEditName.tsx
  projects/gateway/src/client/components/BillParticipantSection.module.css
  projects/gateway/src/client/components/BillParticipantSection.tsx
Due: gateway_is_changed

fix tip amount display
  projects/gateway/src/client/components/BillParticipantOwes.tsx
Due: gateway_is_changed

update image height
  README.md
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
Due: gateway_is_changed

make line item price lookup more efficient
  projects/gateway/src/client/components/BillParticipantOwes.tsx
  projects/gateway/src/client/components/BillParticipantSection.tsx
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
Due: gateway_is_changed

update request pathname
  projects/gateway/src/server/App.ts
Due: gateway_is_changed

added admin routes/service
  .env.example
  docker-compose.yml
  projects/gateway/.env.example
  projects/gateway/package.json
  projects/gateway/pnpm-lock.yaml
  projects/gateway/src/client/pages/admin/Admin.tsx
  projects/gateway/src/client/pages/admin/dto.ts
  projects/gateway/src/client/pages/admin/index.client.tsx
  projects/gateway/src/client/pages/admin/index.server.tsx
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/dto/admin.ts
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/AuthService.ts
  projects/gateway/src/server/utils/parseCookies.ts
  projects/gateway/src/server/utils/parseUrlEncodedForm.ts
Due: gateway_is_changed

add access pin authorization
  README.md
  projects/gateway/src/client/pages/admin/Admin.tsx
  projects/gateway/src/client/pages/verify-access/VerifyAccess.tsx
  projects/gateway/src/client/pages/verify-access/dto.ts
  projects/gateway/src/client/pages/verify-access/index.client.tsx
  projects/gateway/src/client/pages/verify-access/index.server.tsx
  projects/gateway/src/server/App.ts
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/dto/auth.ts
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/AuthService.ts
  projects/gateway/src/server/utils/authMiddleware.ts
Due: gateway_is_changed

add gateway port env var
  projects/gateway/.env.example
  projects/gateway/src/server/server.ts
Due: gateway_is_changed

staging test
  projects/gateway/src/client/pages/Home.tsx
Due: gateway_is_changed

fix gratuity parsing
  projects/bill-processor/src/services/RemoteBillProcessingService.utils.ts
Due: bill_processor_is_changed

update readme
  README.md
Due: none

add bottom margin to bill page
  README.md
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
Due: gateway_is_changed

update query params type
  projects/gateway/src/server/App.ts
  projects/gateway/src/server/types/serverRequest.ts
Due: gateway_is_changed

add unit price consideration and update readme
  README.md
  projects/bill-processor/src/services/RemoteBillProcessingService.utils.test.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.utils.ts
  projects/bill-processor/src/types/processedExpense.ts
Due: bill_processor_is_changed

fix delete participant bug
  projects/gateway/src/server/services/ParticipantService.ts
Due: gateway_is_changed

move verify access to home page
  README.md
  projects/gateway/src/client/api/api.ts
  projects/gateway/src/client/api/dto.ts
  projects/gateway/src/client/components/BillParticipantEditName.tsx
  projects/gateway/src/client/components/BillParticipantInput.tsx
  projects/gateway/src/client/components/BillParticipantSection.tsx
  projects/gateway/src/client/components/TipInput.tsx
  projects/gateway/src/client/components/VerifyAccess.tsx
  projects/gateway/src/client/pages/Home.tsx
  projects/gateway/src/client/pages/admin/Admin.tsx
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
  projects/gateway/src/client/pages/bills/[id]/dto.ts
  projects/gateway/src/client/pages/dto.ts
  projects/gateway/src/client/pages/verify-access/VerifyAccess.tsx
  projects/gateway/src/client/pages/verify-access/dto.ts
  projects/gateway/src/client/pages/verify-access/index.client.tsx
  projects/gateway/src/client/pages/verify-access/index.server.tsx
  projects/gateway/src/server/App.ts
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/AuthService.ts
  projects/gateway/src/server/utils/authMiddleware.ts
  projects/gateway/src/server/utils/responseHelpers.ts
Due: gateway_is_changed

fix verify access pin
  README.md
  projects/gateway/src/server/services/AuthService.ts
Due: gateway_is_changed

update pnpm version
  projects/bill-consumer/Dockerfile
  projects/bill-consumer/package.json
  projects/bill-processor/Dockerfile
  projects/bill-processor/package.json
  projects/db/Dockerfile
  projects/db/package.json
  projects/gateway/Dockerfile
  projects/gateway/package.json
  projects/kafka/Dockerfile
  projects/kafka/package.json
Due: bill_processor_is_changed, gateway_is_changed

fix quantity and unit price mapping
  projects/bill-processor/src/data/jalisco-cantina-bill.ts
  projects/bill-processor/src/data/whole-foods-receipt.ts
  projects/bill-processor/src/index.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.utils.test.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.utils.ts
Due: bill_processor_is_changed

upgrade node containers
  projects/bill-consumer/Dockerfile
  projects/bill-processor/Dockerfile
  projects/db/Dockerfile
  projects/gateway/Dockerfile
  projects/kafka/Dockerfile
Due: bill_processor_is_changed, gateway_is_changed

add discount items
  projects/bill-processor/src/data/ciao-mambo-bill.ts
  projects/bill-processor/src/data/jalisco-cantina-bill.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.test.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.utils.test.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.utils.ts
  projects/bill-processor/src/types/processedExpense.ts
  projects/db/migrations/00006_add_discount_column_to_bill_table.sql
  projects/gateway/src/client/components/BillParticipantOwes.tsx
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
  projects/gateway/src/client/pages/bills/[id]/dto.ts
  projects/gateway/src/client/pages/bills/[id]/utils.ts
  projects/gateway/src/server/dto/bill.ts
Due: bill_processor_is_changed, gateway_is_changed

add access page
  README.md
  projects/gateway/src/client/components/VerifyAccess.tsx
  projects/gateway/src/client/pages/access/Access.tsx
  projects/gateway/src/client/pages/access/Home.test.tsx
  projects/gateway/src/client/pages/access/index.client.tsx
  projects/gateway/src/client/pages/access/index.server.tsx
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/utils/authMiddleware.ts
Due: gateway_is_changed

upgrade pnpm
  projects/bill-consumer/Dockerfile
  projects/bill-consumer/package.json
  projects/bill-processor/Dockerfile
  projects/bill-processor/package.json
  projects/db/Dockerfile
  projects/db/package.json
  projects/gateway/Dockerfile
  projects/gateway/package.json
  projects/kafka/Dockerfile
  projects/kafka/package.json
Due: bill_processor_is_changed, gateway_is_changed

upgrade packages and add ci checks
  .circleci/config.yml
  .circleci/continue_config.yml
  projects/bill-consumer/biome.json
  projects/bill-consumer/package.json
  projects/bill-consumer/pnpm-lock.yaml
  projects/bill-processor/biome.json
  projects/bill-processor/package.json
  projects/bill-processor/pnpm-lock.yaml
  projects/db/biome.json
  projects/db/migrate.ts
  projects/db/package.json
  projects/db/pnpm-lock.yaml
  projects/gateway/biome.json
  projects/gateway/package.json
  projects/gateway/pnpm-lock.yaml
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/LocalStaticFileService.test.ts
  projects/kafka/biome.json
  projects/kafka/package.json
  projects/kafka/pnpm-lock.yaml
Due: bill_processor_is_changed, gateway_is_changed

test circle ci
  .circleci/continue_config.yml
Due: none

test circle ci
  projects/gateway/src/server/server.ts
Due: gateway_is_changed

fix test
  projects/gateway/src/client/pages/access/Access.test.tsx
Due: gateway_is_changed

add circle ci commands
  .circleci/continue_config.yml
  projects/gateway/src/server/server.ts
Due: gateway_is_changed

add checkboxcard component
  projects/gateway/src/client/components/BillParticipantCheckBoxCard.module.css
  projects/gateway/src/client/components/BillParticipantCheckBoxCard.tsx
  projects/gateway/src/client/components/BillParticipantSection.tsx
  projects/gateway/src/client/components/VerifyAccessModal.tsx
  projects/gateway/src/client/pages/Home.tsx
  projects/gateway/src/client/pages/access/Access.tsx
  projects/gateway/src/server/controllers/controllers.ts
Due: gateway_is_changed

implement session token auth and bill page hmac
  projects/gateway/src/client/api/api.ts
  projects/gateway/src/client/api/dto.ts
  projects/gateway/src/client/components/BillParticipantEditName.tsx
  projects/gateway/src/client/components/BillParticipantSection.tsx
  projects/gateway/src/client/pages/Home.tsx
  projects/gateway/src/client/pages/access/Access.test.tsx
  projects/gateway/src/client/pages/access/Access.tsx
  projects/gateway/src/client/pages/access/index.client.tsx
  projects/gateway/src/client/pages/access/index.server.tsx
  projects/gateway/src/client/pages/bills/[id]/dto.ts
  projects/gateway/src/client/pages/dto.ts
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/AuthService.test.ts
  projects/gateway/src/server/services/AuthService.ts
  projects/gateway/src/server/services/BillService.ts
  projects/gateway/src/server/services/KafkaService.ts
  projects/gateway/src/server/utils/authMiddleware.ts
  projects/gateway/src/server/utils/billApiAccessMiddleware.ts
  projects/gateway/src/server/utils/responseHelpers.ts
Due: gateway_is_changed

remove console log
  projects/gateway/src/client/pages/Home.tsx
Due: gateway_is_changed

fix handle request error
  projects/gateway/src/server/App.ts
Due: gateway_is_changed

Path conditions:
  bill_processor_is_changed: any of: projects/bill-processor/.*
  gateway_is_changed: any of: projects/gateway/.*
