Repository dorsett85/bill-split: changes, and which CircleCI parameters are due for each by the changed paths.
All: bill_processor_is_changed, gateway_is_changed

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            projects/bill-processor/.* bill_processor_is_changed true
            projects/gateway/.* gateway_is_changed true

fix types
  projects/gateway/src/server/types/fileStorageService.ts
Due: gateway_is_changed

appease biome
  projects/gateway/src/server/server.ts
Due: gateway_is_changed

rename property
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/HtmlService.ts
  projects/gateway/src/server/services/LocalStaticFileService.test.ts
  projects/gateway/src/server/services/LocalStaticFileService.ts
  projects/gateway/src/server/types/staticFileService.ts
Due: gateway_is_changed

move kafka consumer
  projects/gateway/src/server/server.ts
Due: gateway_is_changed

switch bill processor to rsbuild
  projects/bill-processor/package.json
  projects/bill-processor/pnpm-lock.yaml
  projects/bill-processor/rsbuild.config.ts
Due: bill_processor_is_changed

update dtos
  projects/gateway/src/client/pages/bills/[id]/dto.ts
  projects/gateway/src/server/dao/BillDao.ts
  projects/gateway/src/server/dto/bill.ts
  projects/gateway/src/server/dto/lineItem.ts
  projects/gateway/src/server/types/baseDao.ts
Due: gateway_is_changed

add update bill endpoint and catch request errors
  projects/gateway/src/server/App.ts
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/dao/BillDao.ts
  projects/gateway/src/server/dto/bill.ts
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/BillService.ts
Due: gateway_is_changed

add post line items route
  projects/gateway/src/client/pages/bills/[id]/dto.ts
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/dao/BillDao.ts
  projects/gateway/src/server/dao/LineItemDao.ts
  projects/gateway/src/server/dto/bill.ts
  projects/gateway/src/server/dto/lineItem.ts
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/BillService.ts
  projects/gateway/src/server/types/baseDao.ts
  projects/gateway/src/server/utils/parseJsonBody.ts
Due: gateway_is_changed

add path line items route
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/BillService.ts
Due: gateway_is_changed

parse queryparams in server request
  projects/gateway/src/server/App.ts
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/types/serverRequest.ts
Due: gateway_is_changed

add participant service
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/dao/BillDao.ts
  projects/gateway/src/server/dao/LineItemDao.ts
  projects/gateway/src/server/dao/ParticipantDao.ts
  projects/gateway/src/server/dto/lineItem.ts
  projects/gateway/src/server/dto/participant.ts
  projects/gateway/src/server/services/ParticipantService.ts
  projects/gateway/src/server/types/baseDao.ts
Due: gateway_is_changed

upgrade pnpm
  projects/bill-processor/Dockerfile
  projects/bill-processor/package.json
  projects/db/Dockerfile
  projects/db/package.json
  projects/db/pnpm-lock.yaml
  projects/gateway/Dockerfile
  projects/gateway/package.json
  projects/gateway/src/server/dto/participant.ts
  projects/kafka/Dockerfile
  projects/kafka/package.json
  projects/kafka/pnpm-lock.yaml
Due: bill_processor_is_changed, gateway_is_changed

create bill consumer container
  .circleci/config.yml
  .circleci/continue_config.yml
  docker-compose.yml
  projects/bill-consumer/.gitignore
  projects/bill-consumer/Dockerfile
  projects/bill-consumer/README.md
  projects/bill-consumer/biome.json
  projects/bill-consumer/package.json
  projects/bill-consumer/pnpm-lock.yaml
  projects/bill-consumer/src/index.ts
  projects/bill-consumer/tsconfig.json
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/KafkaService.ts
Due: gateway_is_changed

update bill processor tsconfig
  projects/bill-processor/tsconfig.json
Due: bill_processor_is_changed

add delete cascade to bill_participants
  projects/db/migrate.ts
  projects/db/migrations/00003_create_bill_participant_table.sql
Due: none

add create/delete participants
  projects/bill-processor/biome.json
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
  projects/gateway/src/client/pages/bills/[id]/dto.ts
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/dao/BillDao.ts
  projects/gateway/src/server/dao/BillParticipantDao.ts
  projects/gateway/src/server/dao/LineItemDao.ts
  projects/gateway/src/server/dao/ParticipantDao.ts
  projects/gateway/src/server/dto/bill.ts
  projects/gateway/src/server/dto/billParticipant.ts
  projects/gateway/src/server/dto/lineItem.ts
  projects/gateway/src/server/dto/participant.ts
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/BillService.ts
  projects/gateway/src/server/services/ParticipantService.ts
  projects/gateway/src/server/types/baseDao.ts
Due: bill_processor_is_changed, gateway_is_changed

appease biome
  projects/bill-processor/src/data/analyzeExpenseCommandOutput.ts
  projects/bill-processor/src/index.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.test.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.utils.test.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.utils.ts
  projects/bill-processor/src/types/billProcessingService.ts
Due: bill_processor_is_changed

add db transaction capability
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
  projects/gateway/src/server/dao/BillDao.ts
  projects/gateway/src/server/dao/BillParticipantDao.ts
  projects/gateway/src/server/dao/LineItemDao.ts
  projects/gateway/src/server/dao/ParticipantDao.ts
  projects/gateway/src/server/services/BillService.ts
  projects/gateway/src/server/services/ParticipantService.ts
  projects/gateway/src/server/types/baseDao.ts
Due: gateway_is_changed

split out components
  projects/gateway/src/client/components/BasePage/BillParticipantInput.tsx
  projects/gateway/src/client/components/BasePage/BillStatusNotification.tsx
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
  projects/gateway/src/client/utils/api.ts
Due: gateway_is_changed

split out components
  projects/gateway/src/client/components/BasePage/BillInfoItem.tsx
  projects/gateway/src/client/components/BasePage/BillParticipantInput.tsx
  projects/gateway/src/client/components/BasePage/BillStatusNotification.tsx
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
  projects/gateway/src/client/utils/api.ts
Due: gateway_is_changed

update delete cascade
  projects/db/migrations/00005_create_line_item_participant_table.sql
  projects/db/package.json
Due: none

upgrade packages
  projects/bill-consumer/package.json
  projects/bill-consumer/pnpm-lock.yaml
  projects/bill-processor/package.json
  projects/bill-processor/pnpm-lock.yaml
  projects/db/package.json
  projects/db/pnpm-lock.yaml
  projects/gateway/package.json
  projects/gateway/pnpm-lock.yaml
  projects/kafka/package.json
  projects/kafka/pnpm-lock.yaml
Due: bill_processor_is_changed, gateway_is_changed

reconcile deleted participant outstanding pct owes
  projects/db/migrations/00003_create_bill_participant_table.sql
  projects/db/migrations/00005_create_line_item_participant_table.sql
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/dao/BillDao.ts
  projects/gateway/src/server/dao/LineItemParticipantDao.ts
  projects/gateway/src/server/dto/count.ts
  projects/gateway/src/server/dto/lineItemParticipant.ts
  projects/gateway/src/server/services/ParticipantService.ts
Due: gateway_is_changed

add validation to request params
  projects/bill-consumer/biome.json
  projects/bill-processor/biome.json
  projects/gateway/biome.json
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/dto/billParticipant.ts
  projects/gateway/src/server/services/ParticipantService.ts
Due: bill_processor_is_changed, gateway_is_changed

downgrade rspack
  projects/gateway/package.json
  projects/gateway/pnpm-lock.yaml
Due: gateway_is_changed

update bill participant creating/deleting
  projects/gateway/src/client/components/BasePage/BillParticipantInput.tsx
  projects/gateway/src/server/dao/BillParticipantDao.ts
  projects/gateway/src/server/dao/ParticipantDao.ts
  projects/gateway/src/server/dto/billParticipant.ts
  projects/gateway/src/server/services/ParticipantService.ts
Due: gateway_is_changed

add line item participant create
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/dao/LineItemParticipantDao.ts
  projects/gateway/src/server/dto/lineItemParticipant.ts
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/ParticipantService.ts
Due: gateway_is_changed

add line item participant update
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/dao/LineItemParticipantDao.ts
  projects/gateway/src/server/services/BillService.ts
  projects/gateway/src/server/services/ParticipantService.ts
  projects/gateway/src/server/types/baseDao.ts
Due: gateway_is_changed

add line item participant delete
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/services/ParticipantService.ts
  projects/gateway/src/server/utils/calculateRemainingPctOwes.test.ts
  projects/gateway/src/server/utils/calculateRemainingPctOwes.ts
Due: gateway_is_changed

add line item participant to bill response
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/dao/LineItemParticipantDao.ts
  projects/gateway/src/server/dto/bill.ts
  projects/gateway/src/server/services/BillService.ts
Due: gateway_is_changed

update readme todos
  README.md
Due: none

add gratuity input
  projects/gateway/src/client/components/BasePage/BillInfoItem.tsx
  projects/gateway/src/client/components/BasePage/BillStatusNotification.tsx
  projects/gateway/src/client/components/BasePage/GratuityInput.tsx
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
  projects/gateway/src/client/utils/UsCurrency.ts
  projects/gateway/src/client/utils/api.ts
Due: gateway_is_changed

update line item participant dto
  projects/gateway/src/server/dto/bill.ts
  projects/gateway/src/server/services/BillService.ts
Due: gateway_is_changed

update pct_owes db type
  projects/db/migrations/00005_create_line_item_participant_table.sql
Due: none

change bill response api
  projects/gateway/src/client/components/BasePage/BillParticipantInput.tsx
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
  projects/gateway/src/client/pages/bills/[id]/dto.ts
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/dao/LineItemParticipantDao.ts
  projects/gateway/src/server/dto/bill.ts
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/BillService.ts
  projects/gateway/src/server/services/ParticipantService.ts
Due: gateway_is_changed

move component modules
  projects/gateway/src/client/components/BillInfoItem.tsx
  projects/gateway/src/client/components/BillParticipantInput.tsx
  projects/gateway/src/client/components/BillStatusNotification.tsx
  projects/gateway/src/client/components/GratuityInput.tsx
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
Due: gateway_is_changed

add accordion of participants
  projects/db/migrations/00001_create_bill_table.sql
  projects/gateway/src/client/components/BillParticipantInput.tsx
  projects/gateway/src/client/components/BillParticipantSection.tsx
  projects/gateway/src/client/components/TipInput.tsx
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
  projects/gateway/src/client/pages/bills/[id]/dto.ts
  projects/gateway/src/client/utils/api.ts
  projects/gateway/src/server/dto/bill.ts
Due: gateway_is_changed

add math and display for what each participant owes
  projects/gateway/src/client/components/BillParticipantInput.tsx
  projects/gateway/src/client/components/BillParticipantSection.tsx
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
  projects/gateway/src/client/pages/bills/[id]/dto.ts
  projects/gateway/src/client/utils/api.ts
  projects/gateway/src/server/controllers/controllers.ts
  projects/gateway/src/server/dao/LineItemParticipantDao.ts
  projects/gateway/src/server/dto/bill.ts
  projects/gateway/src/server/dto/lineItemParticipant.ts
  projects/gateway/src/server/dto/participant.ts
  projects/gateway/src/server/server.ts
  projects/gateway/src/server/services/BillService.ts
  projects/gateway/src/server/services/ParticipantService.ts
Due: gateway_is_changed

update assign item checkboxes
  projects/gateway/src/client/components/BillParticipantSection.module.css
  projects/gateway/src/client/components/BillParticipantSection.tsx
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
Due: gateway_is_changed

update readme
  README.md
Due: none
