Repository dorsett85/bill-split: changes, and which CircleCI parameters are due for each by the changed paths.
All: bill_processor_is_changed, gateway_is_changed

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            projects/bill-processor/.* bill_processor_is_changed true
            projects/gateway/.* gateway_is_changed true

feat: save s3 upload data to db
  projects/gateway/src/server/models/BillModel.ts
  projects/gateway/src/server/services/S3FileStorageService.ts
Due: gateway_is_changed

update node image and readme
  README.md
  projects/db/Dockerfile
  projects/gateway/Dockerfile
  projects/kafka/Dockerfile
Due: gateway_is_changed

upgrade pnpm and all packages
  projects/bill-processor/Dockerfile
  projects/bill-processor/package.json
  projects/bill-processor/pnpm-lock.yaml
  projects/db/Dockerfile
  projects/db/package.json
  projects/db/pnpm-lock.yaml
  projects/gateway/Dockerfile
  projects/gateway/package.json
  projects/gateway/pnpm-lock.yaml
  projects/kafka/Dockerfile
  projects/kafka/package.json
  projects/kafka/pnpm-lock.yaml
Due: bill_processor_is_changed, gateway_is_changed

upgrade circleci path filtering
  .circleci/config.yml
Due: none

appease linter
  .editorconfig
  projects/bill-processor/tsconfig.json
Due: bill_processor_is_changed

update test
  projects/bill-processor/src/services/RemoteBillProcessingService.test.ts
Due: bill_processor_is_changed

fix site.manifest path
  projects/gateway/src/client/components/BasePage/BasePage.tsx
Due: gateway_is_changed

fix image version
  projects/db/Dockerfile
Due: none

fix docker compose env variables
  docker-compose.yml
Due: none

include bill id in message payload
  projects/bill-processor/src/index.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.ts
  projects/bill-processor/src/types/billProcessingEventValue.ts
  projects/gateway/src/server/services/BillService.ts
Due: bill_processor_is_changed, gateway_is_changed

update esbuild node version
  projects/gateway/scripts/esbuild.mjs
Due: gateway_is_changed

update url pattern matching
  projects/gateway/src/client/utils/imagesSrc.ts
  projects/gateway/src/server/routes/routes.tsx
  projects/gateway/src/server/routes/static.ts
  projects/gateway/src/server/services/LocalStaticFileService.test.ts
  projects/gateway/src/server/services/LocalStaticFileService.ts
  projects/gateway/src/server/services/RequestService.ts
  projects/gateway/src/server/services/resolveRoute.test.ts
  projects/gateway/src/server/services/resolveRoute.ts
  projects/gateway/src/server/services/resolveRouteSegments.test.ts
  projects/gateway/src/server/services/resolveRouteSegments.ts
  projects/gateway/src/server/types/requestHandler.ts
  projects/gateway/src/server/types/staticFileService.ts
Due: gateway_is_changed

update hydrate root element
  README.md
  projects/gateway/src/client/components/BasePage/BasePage.tsx
  projects/gateway/src/client/pages/bill/[id]/hydrate.tsx
  projects/gateway/src/client/pages/bill/[id]/page.tsx
  projects/gateway/src/client/pages/hydrate.tsx
  projects/gateway/src/client/pages/page.tsx
  projects/gateway/src/client/types/WindowWithStaticAssets.ts
  projects/gateway/src/client/utils/hydrateRootElement.tsx
Due: gateway_is_changed

switch to mantine
  README.md
  projects/bill-processor/src/services/RemoteBillProcessingService.utils.ts
  projects/gateway/package.json
  projects/gateway/pnpm-lock.yaml
  projects/gateway/src/client/assets/images/favicon-32x32.png
  projects/gateway/src/client/components/BasePage/BasePage.tsx
  projects/gateway/src/client/components/Images/index.ts
  projects/gateway/src/client/pages/Home.tsx
  projects/gateway/src/client/pages/bill/[id]/Bill.tsx
  projects/gateway/src/client/utils/hydrateRootElement.tsx
  projects/gateway/src/types/mjs.d.ts
Due: bill_processor_is_changed, gateway_is_changed

add mantine provider to test
  projects/gateway/src/client/pages/Home.test.tsx
  projects/gateway/test/vitest-setup.ts
Due: gateway_is_changed

added textract output transformation
  projects/bill-processor/src/data/analyzeExpenseCommandOutput.ts
  projects/bill-processor/src/index.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.test.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.utils.test.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.utils.ts
  projects/bill-processor/src/types/processedBill.ts
Due: bill_processor_is_changed

upgrade pnpm
  projects/bill-processor/Dockerfile
  projects/bill-processor/package.json
  projects/db/Dockerfile
  projects/db/package.json
  projects/gateway/Dockerfile
  projects/kafka/Dockerfile
  projects/kafka/package.json
Due: bill_processor_is_changed, gateway_is_changed

add migrations
  projects/db/migrate.ts
  projects/db/migrations/00002_create_participant_table.sql
  projects/db/migrations/00003_create_bill_participant_table.sql
  projects/db/migrations/00004_create_line_item_table.sql
  projects/db/migrations/00005_create_line_item_participant_table.sql
Due: none

upgrade packages
  projects/bill-processor/package.json
  projects/bill-processor/pnpm-lock.yaml
  projects/db/package.json
  projects/db/pnpm-lock.yaml
  projects/gateway/package.json
  projects/gateway/pnpm-lock.yaml
  projects/gateway/src/client/pages/Home.tsx
  projects/kafka/package.json
  projects/kafka/pnpm-lock.yaml
Due: bill_processor_is_changed, gateway_is_changed

add static file manifest build plugin
  projects/gateway/scripts/esbuild.mjs
  projects/gateway/scripts/startApp.mjs
  projects/gateway/src/server/services/LocalStaticFileService.ts
  projects/gateway/src/server/services/resolveRouteSegments.ts
Due: gateway_is_changed

change entry point name
  projects/gateway/scripts/esbuild.mjs
Due: gateway_is_changed

update static file service tests
  projects/gateway/src/server/services/LocalStaticFileService.test.ts
Due: gateway_is_changed

upgrade pnpm
  projects/bill-processor/Dockerfile
  projects/bill-processor/package.json
  projects/bill-processor/pnpm-lock.yaml
  projects/db/Dockerfile
  projects/db/package.json
  projects/gateway/Dockerfile
  projects/gateway/package.json
  projects/kafka/Dockerfile
  projects/kafka/package.json
Due: bill_processor_is_changed, gateway_is_changed

persist processed bill data
  docker-compose.yml
  projects/bill-processor/src/index.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.test.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.utils.test.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.utils.ts
  projects/bill-processor/src/services/getDb.ts
  projects/bill-processor/src/types/processedExpense.ts
Due: bill_processor_is_changed

update expense parsing
  projects/bill-processor/src/services/RemoteBillProcessingService.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.utils.test.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.utils.ts
  projects/gateway/src/server/models/BillModel.ts
Due: bill_processor_is_changed, gateway_is_changed

update bill detail page
  projects/gateway/src/client/pages/bill/[id]/Bill.tsx
  projects/gateway/src/server/services/RequestService.ts
Due: gateway_is_changed

add error handling to bill processing service
  projects/bill-processor/src/services/RemoteBillProcessingService.ts
  projects/bill-processor/src/services/RemoteBillProcessingService.utils.ts
Due: bill_processor_is_changed

add error to image status
  projects/db/migrations/00001_create_bill_table.sql
  projects/gateway/src/client/pages/bill/[id]/Bill.tsx
  projects/gateway/src/client/pages/bill/[id]/hydrate.tsx
  projects/gateway/src/client/pages/bill/[id]/page.tsx
  projects/gateway/src/server/models/BillModel.ts
Due: gateway_is_changed

add loading notifications
  projects/bill-processor/Dockerfile
  projects/bill-processor/package.json
  projects/bill-processor/pnpm-lock.yaml
  projects/bill-processor/src/services/RemoteBillProcessingService.utils.test.ts
  projects/db/Dockerfile
  projects/db/package.json
  projects/db/pnpm-lock.yaml
  projects/gateway/Dockerfile
  projects/gateway/package.json
  projects/gateway/pnpm-lock.yaml
  projects/gateway/scripts/esbuild.mjs
  projects/gateway/src/client/components/Images/index.ts
  projects/gateway/src/client/pages/Home.tsx
  projects/gateway/src/client/pages/bill/[id]/Bill.tsx
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
  projects/gateway/src/client/pages/bills/[id]/hydrate.tsx
  projects/gateway/src/client/pages/bills/[id]/page.tsx
  projects/gateway/src/client/pages/bills/[id]/types.ts
  projects/gateway/src/server/models/BillModel.ts
  projects/gateway/src/server/routes/routes.tsx
  projects/gateway/src/server/services/BillService.ts
  projects/gateway/src/server/services/LocalStaticFileService.ts
  projects/gateway/src/server/services/S3FileStorageService.ts
  projects/gateway/src/server/services/resolveRoute.test.ts
  projects/gateway/src/server/services/resolveRoute.ts
  projects/gateway/src/server/services/resolveRouteSegments.ts
  projects/kafka/Dockerfile
  projects/kafka/package.json
  projects/kafka/pnpm-lock.yaml
Due: bill_processor_is_changed, gateway_is_changed

upgrade packages
  projects/db/package.json
  projects/db/pnpm-lock.yaml
  projects/gateway/package.json
  projects/gateway/pnpm-lock.yaml
  projects/kafka/package.json
  projects/kafka/pnpm-lock.yaml
Due: gateway_is_changed

upgrade biome
  projects/bill-processor/biome.json
  projects/bill-processor/package.json
  projects/bill-processor/pnpm-lock.yaml
  projects/gateway/biome.json
  projects/gateway/scripts/esbuild.mjs
  projects/gateway/src/client/components/BasePage/BasePage.tsx
  projects/gateway/src/client/components/Images/index.ts
  projects/gateway/src/client/utils/hydrateRootElement.tsx
  projects/gateway/src/server/server.tsx
  projects/gateway/src/server/services/LocalStaticFileService.ts
  projects/gateway/src/server/services/RequestService.ts
Due: bill_processor_is_changed, gateway_is_changed

fix test
  projects/gateway/src/server/services/resolveRoute.test.ts
Due: gateway_is_changed

Add dto validation and bill page info
  projects/gateway/package.json
  projects/gateway/pnpm-lock.yaml
  projects/gateway/src/client/components/Images/index.ts
  projects/gateway/src/client/pages/Home.tsx
  projects/gateway/src/client/pages/bills/[id]/Bill.tsx
  projects/gateway/src/client/pages/bills/[id]/dto.ts
  projects/gateway/src/client/pages/bills/[id]/hydrate.tsx
  projects/gateway/src/client/pages/bills/[id]/page.tsx
  projects/gateway/src/client/pages/bills/[id]/types.ts
  projects/gateway/src/client/pages/dto.ts
  projects/gateway/src/server/dao/BillDao.ts
  projects/gateway/src/server/dto/bill.ts
  projects/gateway/src/server/dto/id.ts
  projects/gateway/src/server/dto/lineItem.ts
  projects/gateway/src/server/models/BillModel.ts
  projects/gateway/src/server/services/BillService.ts
  projects/gateway/src/server/services/RequestService.ts
  projects/gateway/src/server/services/getDb.ts
  projects/gateway/src/server/types/baseDao.ts
  projects/gateway/src/server/types/baseModel.ts
Due: gateway_is_changed

porting gateway to new build library
  projects/ssr-express-with-manifest/.env.example
  projects/ssr-express-with-manifest/.env.prod
  projects/ssr-express-with-manifest/.gitignore
  projects/ssr-express-with-manifest/README.md
  projects/ssr-express-with-manifest/biome.json
  projects/ssr-express-with-manifest/package.json
  projects/ssr-express-with-manifest/pnpm-lock.yaml
  projects/ssr-express-with-manifest/public/android-chrome-192x192.png
  projects/ssr-express-with-manifest/public/android-chrome-512x512.png
  projects/ssr-express-with-manifest/public/apple-touch-icon.png
  projects/ssr-express-with-manifest/public/favicon-16x16.png
  projects/ssr-express-with-manifest/public/favicon-32x32.png
  projects/ssr-express-with-manifest/public/favicon.ico
  projects/ssr-express-with-manifest/public/site.webmanifest
  projects/ssr-express-with-manifest/rsbuild.config.ts
  projects/ssr-express-with-manifest/src/components/BasePage/BasePage.tsx
  projects/ssr-express-with-manifest/src/env.d.ts
  projects/ssr-express-with-manifest/src/pages/Home.tsx
  projects/ssr-express-with-manifest/src/pages/bill/[id]/index.client.tsx
  projects/ssr-express-with-manifest/src/pages/dto.ts
  projects/ssr-express-with-manifest/src/pages/index.client.tsx
  projects/ssr-express-with-manifest/src/pages/index.server.tsx
  projects/ssr-express-with-manifest/src/server/prod-server.ts
  projects/ssr-express-with-manifest/src/server/server.ts
  projects/ssr-express-with-manifest/src/server/types/serverRequest.ts
  projects/ssr-express-with-manifest/src/server/utils/htmlMiddleware.ts
  projects/ssr-express-with-manifest/src/server/utils/responseHelpers.ts
  projects/ssr-express-with-manifest/src/types/pageProps.ts
  projects/ssr-express-with-manifest/src/types/staticAssetAttributes.ts
  projects/ssr-express-with-manifest/src/utils/hydrateRootElement.tsx
  projects/ssr-express-with-manifest/src/utils/makeStaticAssetAttributes.ts
  projects/ssr-express-with-manifest/template.html
  projects/ssr-express-with-manifest/tsconfig.json
Due: none

remove file from vc
  projects/ssr-express-with-manifest/.env.prod
Due: none

updated manifest and static file pipeline for new build integration
  projects/ssr-express-with-manifest/package.json
  projects/ssr-express-with-manifest/pnpm-lock.yaml
  projects/ssr-express-with-manifest/rsbuild.config.ts
  projects/ssr-express-with-manifest/src/pages/bill/[id]/index.server.tsx
  projects/ssr-express-with-manifest/src/server/App.ts
  projects/ssr-express-with-manifest/src/server/server.ts
  projects/ssr-express-with-manifest/src/server/services/LocalStaticFileService.test.ts
  projects/ssr-express-with-manifest/src/server/services/LocalStaticFileService.ts
  projects/ssr-express-with-manifest/src/server/types/serverRequest.ts
  projects/ssr-express-with-manifest/src/server/types/staticAssets.ts
  projects/ssr-express-with-manifest/src/server/types/staticFileService.ts
  projects/ssr-express-with-manifest/src/server/utils/htmlMiddleware.ts
  projects/ssr-express-with-manifest/src/server/utils/resolveRoute.test.ts
  projects/ssr-express-with-manifest/src/server/utils/resolveRoute.ts
  projects/ssr-express-with-manifest/src/server/utils/staticMiddleware.ts
Due: none

add html service
  projects/ssr-express-with-manifest/README.md
  projects/ssr-express-with-manifest/biome.json
  projects/ssr-express-with-manifest/package.json
  projects/ssr-express-with-manifest/pnpm-lock.yaml
  projects/ssr-express-with-manifest/rsbuild.config.ts
  projects/ssr-express-with-manifest/src/client/components/BasePage/BasePage.tsx
  projects/ssr-express-with-manifest/src/client/pages/Home.tsx
  projects/ssr-express-with-manifest/src/client/pages/bill/[id]/Bill.tsx
  projects/ssr-express-with-manifest/src/client/pages/bill/[id]/dto.ts
  projects/ssr-express-with-manifest/src/client/pages/bill/[id]/index.client.tsx
  projects/ssr-express-with-manifest/src/client/pages/bill/[id]/index.server.tsx
  projects/ssr-express-with-manifest/src/client/pages/dto.ts
  projects/ssr-express-with-manifest/src/client/pages/index.client.tsx
  projects/ssr-express-with-manifest/src/client/pages/index.server.tsx
  projects/ssr-express-with-manifest/src/client/types/pageProps.ts
  projects/ssr-express-with-manifest/src/client/types/staticAssetAttributes.ts
  projects/ssr-express-with-manifest/src/client/utils/hydrateRootElement.tsx
  projects/ssr-express-with-manifest/src/client/utils/makeStaticAssetAttributes.ts
  projects/ssr-express-with-manifest/src/pages/bill/[id]/index.client.tsx
  projects/ssr-express-with-manifest/src/pages/bill/[id]/index.server.tsx
  projects/ssr-express-with-manifest/src/server/App.ts
  projects/ssr-express-with-manifest/src/server/server.ts
  projects/ssr-express-with-manifest/src/server/services/HtmlService.ts
  projects/ssr-express-with-manifest/src/server/services/LocalStaticFileService.ts
  projects/ssr-express-with-manifest/src/server/types/serverRequest.ts
  projects/ssr-express-with-manifest/src/server/types/staticFileService.ts
  projects/ssr-express-with-manifest/src/server/utils/htmlMiddleware.ts
  projects/ssr-express-with-manifest/src/server/utils/responseHelpers.ts
  projects/ssr-express-with-manifest/src/server/utils/staticMiddleware.ts
  projects/ssr-express-with-manifest/test/vitest-setup.ts
  projects/ssr-express-with-manifest/test/vitest.config.mts
  projects/ssr-express-with-manifest/tsconfig.json
Due: none

add server file watcher
  projects/ssr-express-with-manifest/package.json
Due: none
